<% provide(:title, "Medical abstraction form") %> 
<div class="row-fluid">
  <p style="text-align:left; color:red; font-size:1.2em; padding-top:10px">ALiCCS - Adult Life after Childhood Cancer in Scandinavia</p>
</div>
<div class="row-fluid">
  <div class="span7">
    <h1 style="text-align:left">Medical abstraction form</h1>
  </div>
  <div class="span5">
    <br>
    <p class="infoSmall">Danish Cancer Society Research Center<br>
      Strandboulevarden 49, 2100 Copenhagen, DK<br>
      <b>Contact:</b><br>
      Thorgerdur Gudmundsdottir, thorgud@cancer.dk, +45 35257648<br>
      Thomas Wiebe, thomas.wiebe@skane.se, +46 46178284</p>
  </div>
</div>
<br><br>
<%= render 'form' %>