<fieldset>
  <div class="span4">
    <p>Date of diagnosis relapse:</p>
  </div>
  <div class="span8">
    <%= f.hidden_field :number, value: "{{$index + 1}}" %>
    <%= f.date_select :date, {:start_year => 1970, :end_year => Time.now.year, :include_blank=> true, order: [:day, :month, :year]}, {:class => "date_generic"} %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', {class: "remove_fields", style: "position:relative;bottom:8px"} %>
  </div>
</fieldset>