// Place all the styles related to the Form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#journal_radiorecordscopied_3i,#journal_dateofdiagnosis_3i,#journal_externalbeamradiotherapydateofstart_3i,#journal_externalbeamradiotherapydateofcompletion_3i, #journal_internalradiotherapyrecordscopied_3i, #journal_internalradiotherapydateofstart_3i, #journal_brachytherapyrecordscopied_3i,
#journal_brachytherapydateofcompletion_3i, #journal_brachytherapydateofstart_3i, #journal_externalbeamradiotherapyrecordscopied_3i,#surgery_surgerydate_3i, #journal_chemotherapydateinitiation_3i, #journal_chemotherapydatecompletion_3i, #journal_lastdoctorsvisitdate_3i
{
  float:left;
  width: 75px;
  margin-right: 5px;

}
#journal_radiorecordscopied_2i,#journal_dateofdiagnosis_2i,#journal_externalbeamradiotherapydateofstart_2i,#journal_externalbeamradiotherapydateofcompletion_2i,#journal_internalradiotherapyrecordscopied_2i, #journal_internalradiotherapydateofstart_2i, #journal_brachytherapyrecordscopied_2i, #journal_brachytherapydateofcompletion_2i, #journal_brachytherapydateofstart_2i, #journal_externalbeamradiotherapyrecordscopied_2i,#surgery_surgerydate_2i, #journal_chemotherapydateinitiation_2i, #journal_chemotherapydatecompletion_2i, #journal_lastdoctorsvisitdate_2i{
  width: 125px;
}
#journal_radiorecordscopied_1i,#journal_dateofdiagnosis_1i,#journal_externalbeamradiotherapydateofstart_1i,#journal_externalbeamradiotherapydateofcompletion_1i,#journal_internalradiotherapyrecordscopied_1i, #journal_internalradiotherapydateofstart_1i, #journal_brachytherapyrecordscopied_1i, #journal_brachytherapydateofcompletion_1i, #journal_brachytherapydateofstart_1i, #journal_externalbeamradiotherapyrecordscopied_1i,#surgery_surgerydate_1i, #journal_chemotherapydateinitiation_1i, #journal_chemotherapydatecompletion_1i, #journal_lastdoctorsvisitdate_1ßi{
  width: 100px;
}

.date_generic {
 width: 125px; 
}