// Place all the styles related to the Form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#journal_radiorecordscopied_3i{
  float:left;
  width: 75px;
  margin-right: 5px;

}
#journal_radiorecordscopied_2i{
  width: 125px;
}
#journal_radiorecordscopied_1i{
  width: 100px;
}