// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 200px; 
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ngTopPanel {
  background-color: transparent;
  border-bottom: 0px;
}
.ngRow {
  border: none;
}
.ngRow.even, .ngRow.odd {
    background-color: transparent;
}
.ngVerticalBarVisible {
  width: 0px;
}